<footer>
  <nav id="nav" class="hidden">
    <ul>
      <li><a href="/search"><span>Search Google Books</span></a></li>
      <li><a href="/"><span>My Library</span></a></li>
    </ul>
  </nav>
  <div class="hamburger">
    <img src="https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-512.png" class="toggle"></a>
  </div>
</footer>