<header>
  <h1>The Local Library</h1>
  <h2><%= pagename %></h2>
  <div class="hamburger">
    <img src="https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-512.png" class="toggle"></a>
  </div>
  <nav id="nav" class="hidden">
    <ul>
      <li><a href="/search"><span>Search Google Books</span></a></li>
      <li><a href="/"><span>My Library</span></a></li>
    </ul>
  </nav>
</header>
<div class="headroom">
</div>