<head>
  <title>The Local Library</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/reset.css" />
  <link rel="stylesheet" href="../../styles/base.css" />
  <link rel="stylesheet" href="../../styles/layout.css" />
  <link rel="stylesheet" href="../../styles/header.css" />
  <link rel="stylesheet" href="../../styles/footer.css" />
  <link rel="stylesheet" href="../../styles/detail.css" />
  <link rel="stylesheet" href="../../styles/form.css" />
  <link rel="stylesheet" href="../../styles/error.css" />
</head>