<!-- <img src="http://pluspng.com/img-png/splatter-png-red-paint-splatter-1804.png" alt="bg-image" zIndex="-1000"> -->
<header>
  <h1>The Local Library</h1>
  <div class="menutoggle">
    <a href="nav" class="toggle"></a>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="/search"><span>Search Google Books</span></a></li>
      <li><a href="/"><span>My Library</span></a></li>
    </ul>
  </nav>
</header>