<header>
  <h1>The Local Library</h1>
  <div class="menutoggle">
    <a href="nav" class="toggle"></a>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="/search"><span>Search Google Books</span></a></li>
      <li><a href="/"><span>My Library</span></a></li>
    </ul>
  </nav>
  <h2><%= pagename %></h2>
</header>
<div class="headroom">
</div>