<div>
  <a href="nav" class="toggle"></a>
</div>
<nav id="nav">
  <ul>
    <li><a href="/search"></a><span>Search Google Books</span></a></li>
    <li><a href="/"></a><span>My Library</span></a></li>
  </ul>
</nav>