<form method="post" action="/save">
  <label for="">title
    <input name="title" type="text" value="title">
  </label>
  <label for="">authors
    <input name="authors" type="text" value="authors">
  </label>
  <label for="">isbn
    <input name="isbn" type="text" value="isbn">
  </label>
  <label for="">image
    <input name="image" type="text" value="image">
  </label>
  <label for="">summary
    <textarea name="summary" value="summary"></textarea>
  </label>
  <label for="">bookshelf
    <input name="bookshelf" type="text" value="bookshelf">
  </label>
  <button type="submit">Add this book to my collection.</button>
</form>
