<!DOCTYPE html>
<html>

<%- include("./../../layouts/head") %>

<body>
  <h1>Find a book</h1>
  <main>
    <%- include("./../../layouts/header") %>
    <div></div>
    <div>
      <form action="/search" method="post">
        <label>Enter a word or phrase to find in the title or author
          <input type="text" name="search_query">
        </label>
        <label>Title
          <input type="radio" name="title">
        </label>
        <label>Author
          <input type="radio" name="author">
        </label>
        <button>Seach the Google Books API</button>
      </form>
    </div>
    <footer></footer>
  </main>
</body>

</html>