<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
</head>

<body>
  <h1>Find a book</h1>
  <main>
    <header></header>
    <div></div>
    <div>
      <form action="/search" method="post">
        <label>Enter a title or author
          <input type="text" name="search_query" id="">
        </label>
        <label for="">Title
          <input type="radio" name="title" id="">
        </label>
        <label for="">Author
          <input type="radio" name="author" id="">
        </label>
        <button>Seach the Google Books API</button>
      </form>
    </div>
    <footer></footer>
  </main>
</body>

</html>