<!DOCTYPE html>
<html>

<%- include("./../../layouts/head") %>

<body>
  <%- include("./../../layouts/header", {pagename: pagename}) %>
  <main>
    <div>
      <form id="searchform" action="/search" method="post">
        <label>Enter a word or phrase to find in the title or author
          <input type="text" name="search_query">
        </label>
        <label class="radio">Title
          <input type="radio" name="title">
        </label>
        <label class="radio">Author
          <input type="radio" name="author">
        </label>
        <button>Search Now</button>
      </form>
    </div>
    <div class="footroom"></div>
    <%- include("./../../layouts/footer") %>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/scripts/toggle.js"></script> 
</body>

</html>