<!DOCTYPE html>
<html>

<head>
  <title>Saved Books</title>
</head>

<body>
  <h1>Saved Books</h1>
  <main>
    <header></header>
    <div></div>
    <div>
      <ul>
        <% allBooks.forEach( book => { %>
          <%- include("./layouts/detail",{book:book, buttonname:"View Book Details"}) %>
          <a href="/book/<%= book.id %>"> <%= buttonname %> ></a>
        <% }) %>
      </ul>
    </div>
    <footer></footer>
  </main>
</body>

</html>