<!DOCTYPE html>
<html>

<head>
  <title>Saved Books</title>
</head>

<body>
  <h1>Saved Books</h1>
  <main>
    <header></header>
    <a href="/search">Search for a book</a>
    <div></div>
    <div>
      <ul>
        <% allBooks.forEach( book => { %>
          <%- include("./layouts/detail",{book:book}) %>
          <a href="/book/<%= book.id %>">View Book Details></a>
        <% }) %>
      </ul>
    </div>
    <footer></footer>
  </main>
</body>

</html>