<!DOCTYPE html>
<html>

<head>
  <title>Template</title>
</head>

<body>
  <h1> hello world</h1>
  <main>
    <header></header>
    <div></div>
    <div>
      <!-- replace with render from db -->
    </div>
    <footer></footer>
  </main>
</body>

</html>