<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
</head>

<body>
  <main>
    <header></header>
    <h2>Instead of showing what you requested, I offer only this:</h2>
    <h2>"<%= error %>"</h2>
    <h2>One of us is a total</h2>
    <img src="https://media.giphy.com/media/RXdUmHLrBmKQM/giphy.gif" alt="failure">
    <footer></footer>
  </main>
  
</body>

</html>