<!DOCTYPE html>
<html>

<%- include("./../layouts/head", {pagename: pagename}) %>

<body>
  <%- include("./../layouts/header") %>
  <main>
    <h3>Oops... something went wrong!</h3>
    <h4>When I asked the computer to get your stuff, it said:</h3>
    <h4 class="error">"<%= error %>"</h4>
    <h3>Stupid computers.</h3>
    <img src="https://media.giphy.com/media/RXdUmHLrBmKQM/giphy.gif" alt="failure">
    <%- include("./../layouts/footer") %>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/scripts/toggle.js"></script> 
</body>

</html>