

.detail {
  background-color: #f5deb3c7;
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px;
}


a.locallink,p.locallink,h4.locallink {
  background-color: rgb(95, 74, 45);
  color: white;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  padding: 30px;
}

@media screen and (min-width: 481px) {

  a.locallink,p.locallink,h4.locallink {
    font-size: 20px;
    width: 45%;
  }

  a:hover {
    font-size: 26px;
  }

  button, .locallink {
    width: 70%;
    text-align: center;
  }

}