
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(48, 28, 2);
  background-image: url("https://cdn78.picsart.com/185486539003201.jpg?r1024x1024");
}