header {
  position: fixed;
  z-index: 100;
}

.headroom {
  padding-top: 225px;
}

.headroom {
  padding: 100px auto;
}

.detail-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  z-index: 50;
}

@media screen and (min-width: 481px) {
  .detail {
    flex-flow: row wrap;
  }
}