
header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 20vw;
  background-image: url("https://cdn78.picsart.com/185486539003201.jpg?r1024x1024");
}

.headroom {
  padding-top: 20vw;
}

footer {
  position: fixed;
  display: block;
  width: 100vw;
  bottom: 0px;
  height: 10vw;
}

.footroom {
  padding-bottom: 20vw;
}

.detail-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  z-index: 50;
}

@media screen and (min-width: 481px) {
  .detail {
    flex-flow: row wrap;
  }

  header {
    height: 125px;
  }

  .headroom {
    padding-top: 125px;
  }

  footer {
    height: 75px;
  }
  
  .footroom {
    padding-top: 75px;
  }
}